<header>
    <!-- Add this logic after implementing login & logout logic-->
    <!-- <% if(!user) {%> -->

  <nav>
    <a href="./customer_menu">Menu</a>
      <h2>FoodUp</h2>
    <div class="navAnchors">
      <a href="">Login</a>
      <a href="">Register</a>
    </div>
  </nav>

  <!-- <% } else {%>

  <% } %> -->
  </header>

