<header>
    <!-- Add !user || else logic after implementing login & logout logic-->

  <nav>
    <a href="./customer_menu">Menu</a>
      <h2>FoodUp</h2>
    <div class="navAnchors">
      <a href="./login">Login</a>
      <a href="">Register</a>
    </div>
  </nav>

  </header>

