
 .container {
  margin: 10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  width:inherit;
  height: 80vh;
  flex-wrap: wrap;
  overflow: auto;
  font-family: 'Indie Flower', cursive;

  img {
    width: 20vh;
    height: 20vh;
    border-radius: 5%;
  }

  .menu-item {
    font-family: 'Indie Flower', cursive;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    height: 20vh;
    margin: 0.5%;
    border-bottom: 1px solid black;

    button {
      border-radius: 5%;
      opacity: 0.7;
      color:white;
      background-color: rgba(0,0,0,0.8);
    }
  }

  .menu-item:hover {
    transform: scale(1.1);
  }
}
