  .container {
  display:flex;
  align-items: center;
  justify-content: center;
  width:inherit;
  flex-wrap: wrap;
  margin: auto;

  .menu-item {
    display:flex;
    flex-direction: column;
    padding: 100px 100px;
    margin: 10px 10px;
    background-color: khaki;
    border: 1px solid orange;
  }

  .menu-item:hover {
    transform: scale(1.2);
    box-shadow: 5px 10px salmon;
  }
}
