  .container {
  margin: 10vh;
  display:flex;
  align-items: center;
  justify-content: center;
  width:inherit;
  height: 80vh;
  flex-wrap: wrap;
  overflow: auto;

  .menu-item {
    display:inline-block;
    flex-direction: column;
    text-align: center;
    font-family: 'Sans-serif';
    width: 10vw;
    height: 18vh;
    margin: 0.5%;
    background-color: khaki;
    border: 1px solid orange;
    overflow-y: auto;

    button {
      border-radius: 10%;
    }

  }

  .menu-item:hover {
    transform: scale(1.2);
    box-shadow: 5px 10px salmon;
  }
}
