body{
  background-color:silver;

  .container, .d-2{
    width: 80vw;
    background-color: black;
    height: auto;
    margin-top:11vh;
    box-sizing: content-box;
    overflow-y: auto;
    max-height: 35vh;
    border: 0.5rem outset grey;


    .dashboard, .dashboard-2{

      background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: auto;


      form {
        background-color: burlywood;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin:0.1rem, 0;
        padding: 0;

         div{
            width: 15vw;
            padding-left: 2rem;

         }
         button {
           width: 15vw;
           margin: 0.2rem;
         }

         &:hover{
          background-color: grey;
         }
      }
    }
  }
}

.d-2 {
  position: absolute;
  top: 40vh;
    .header{
      background-color: navy
    }

}

.header {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  position: relative;
  margin:auto;
  height: 5vh;
  width: 80vw;
   h3{
     margin: auto;
     width: 15vw;
     padding-left: 2rem;
   }
}

#custom-scroll {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: burlywood;
  }

  &::-webkit-scrollbar-thumb {
    background: grey;
  }
}
