// See: https://sass-lang.com/


  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  body {
    color: #545149;
    background-color: #f4f1ec;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
