nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  margin-bottom: 100px;
  position: fixed;
  top:0;

  a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    transform: scale(1.1);
    color: goldenrod;
  }


  .navAnchors {
    display: flex;
    flex-direction: row;
    align-items:center;


  }
}


