nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 10vh;
  position: fixed;
  top:0;
  border-bottom: 2px solid black;

  a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    transform: scale(1.1);
    color: goldenrod;
  }

  .navAnchors {
    display: flex;
    flex-direction: row;
    align-items:center;
  }

  .fa-arrow-left {
    padding-left: 15px;
  }

  h2 {
    position:fixed;
    left: 47%;
    top:0;
  }

  [name = login] {
    margin-right: 2rem;
  }
}


