* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  top:10vh;
  height: 68.5vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  opacity: 0.5;
}

/* Image containers */
.mySlides {
  display:flex;
  justify-content: center;
  img {
    height: 83vh;
    width: 100%;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: goldenrod;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 1;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(237, 238, 231, 0.8);
}

/*Styling for dot container */
.dots-container {
  position:relative;
  z-index: 5;
  margin-bottom: 1rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 8px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



//Order Button
 a.button1{
    display : inline-block;
    padding: 2em 3em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    font-weight:300;
    color: black;
    text-align:center;
    transition: all 0.2s;
    background-color:rgba(237, 238, 231, 0.6)
    }
    a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     a.button1{
    display:block;
    margin:0.4em auto;
    }
    }

